.icon{
    width: 50%;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.inputs{
    margin-top: 5%;
}
.gender{
    margin-top: 5%;
}
.marks{
    margin-top: 4%;
}
.marks input{
    width: 18%;
    margin-left: 5%;
}